<app-center-box>
    <div class="block md:flex md:flex-row md:space-x-40 items-center">
        <div class="
            flex flex-row w-screen h-screen absolute top-0 left-0 items-center justify-center -z-10
            md:block md:w-auto md:h-auto md:top-auto md:left-auto md:relative
        ">
            <div class="flex flex-col justify-center items-center ">
                <img src="assets/img/logo.jpg" alt="logo" class="h-96 w-96 rounded-full blur-[1.75px] opacity-50">
            </div>
        </div>
        <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="loginSubmit()"
            class="z-50 h-fit space-y-3 flex flex-col items-center bg-slate-200 bg-opacity-100 shadow-lg py-6 px-8 rounded-lg">

            <h1 class="text-xl text-center -mt-4">Iniciar sesión</h1>

            <div>
                <app-input [formGroup]="loginForm" inputName="cedula" label="Cedula"></app-input>
            </div>
            <div>
                <app-input [formGroup]="loginForm" inputName="password" label="Contraseña" type="password"></app-input>
            </div>
            <div>
                <button type="submit" class="btn-action-primary mt-2">Iniciar sesión</button>
            </div>

        </form>
    </div>
</app-center-box>