<div class="w-full text-gray-500 flex flex-col items-center space-y-2">
    <hr class="border-gray-500 w-full">
    <div class="flex flex-col items-center space-y-2">
        <span>
            Mostrando {{ (limit*pagina < items) ? limit*pagina : items}} de {{items}} {{message | lowercase}}
        </span>
        <div class="flex flex-row items-center space-x-4">
            <label for="limit">{{message | titlecase}} por pagína:</label>
            <select [value]="limit" (change)="onChange($event.target!)" class="form-select rounded-lg" name="limit" id="limit" >
                <option [value]="limit" *ngFor="let limit of validLimits">{{limit}}</option>
            </select>
        </div>
    </div>
</div>