<div [Block]="isFetching" class="grid grid-cols-2 justify-items-center gap-4 py-5 px-10">
    <div  *ngIf="!isFetching" class="flex flex-col justify-center space-y-2">
        <h1 class="animate-display_left font-light text-3xl">Habitación N° {{habitacion.numero}}</h1>
        <span class="animate-display_left font-light text-3xl">Piso {{habitacion.piso}}</span>
        <div class="animate-display_left flex flex-row items-center space-x-2">
            <span class="font-light text-2xl">Tipo:</span>
            <span class="material-icons !text-5xl"> {{habitacion.tipo | tipoToIcon}} </span>
            <span class="font-light text-2xl italic">{{habitacion.tipo}}</span>
        </div>
        <span *ngIf="isAdmin" class="animate-display_left flex flex-row space-x-2">
            <button [routerLink]="['/main','habitaciones','actualizar',habitacion._id]" class="btn-action-primary">Modificar habitación</button>
            <button (click)="eliminarHabitacion()" class="btn-action-danger">Eliminar habitación</button>
        </span>
    </div>
    <div *ngIf="!isFetching" class="animate-display_right">
        <div [routerLink]="['/main','habitaciones','subir-imagen',habitacion._id]" class="relative">
            <div class="top-0 rounded-xl bg-transparent flex flex-col items-center bg-opacity-0 left-0 transition-colors duration-300 absolute w-full h-full hover:bg-gray-700 hover:bg-opacity-50">
                <span class="cursor-pointer opacity-0 hover:opacity-100 transition-opacity duration-300 z-50 w-full h-full text-3xl font-light text-center flex flex-col text-white justify-center items-center">
                    <span>
                        Subir foto
                    </span>
                </span>
            </div>
            <img                
                [src]="habitacion | imagenHabitacion"
                [alt]="'habitacion-'+habitacion.numero"
                class="w-[30rem] h-[20rem] rounded-xl border border-green-500">
        </div>
    </div>
    <div *ngIf="!isFetching"  class="col-span-2 gap-y-4 w-full place-items-center grid grid-cols-4 animate-display_right">
        <h2 class="col-span-4 text-center w-full font-light text-3xl">Detalles y caracteristicas de la habitación</h2>
        <span *ngIf="!habitacion.caracteristicas || habitacion.caracteristicas?.length === 0" class="col-span-4 font-light text-xl text-center w-full">Esta habitación no tiene detalles adicionales</span>
        <span [ngClass]="{'animate-display_left':i%2===0,'animate-display_right':i%2!==0}" class=" flex flex-row items-center" *ngFor="let caracteristica of habitacion.caracteristicas; let i = index">
            <span class="material-icons !text-5xl !text-green-600">check_circle_outlined</span>
            <span class="font-light text-xl">{{caracteristica}}</span>
        </span>
    </div>
    <div *ngIf="!isFetching"  class="space-y-2 col-span-2 animate-display_left">
        <h2 class="col-span-4 text-center w-full font-light text-3xl">Detalles de los inquilos</h2>
        <div class="flex flex-col w-full space-y-4 justify-center" *ngIf="!alquiler; else conAlquiler">
            <span class="text-2xl font-light">Esta habitación no esta alquilada de momento</span>
            <button [routerLink]="['/main','habitaciones','alquilar',habitacion._id]" class="btn-action-primary">Alquilar</button>
        </div>
        <ng-template #conAlquiler>
            <div class="flex flex-col space-y-2 items-center w-full">
                <div class="grid grid-cols-2 w-full gap-5">
                    <span class="col-span-2 text-xl text-center ">Habitación alquilada por: {{alquiler.cliente.nombre}} {{alquiler.cliente.apellido}}</span>
                    <span class="col-span-2 text-xl font-light">Datos de identidad: {{alquiler.cliente.tipoIdentidad}}-{{alquiler.cliente.cedula}}</span>
                    <span class="text-xl font-light">Nacionalidad: {{alquiler.cliente.nacionalidad}}</span>
                    <span class="text-xl font-light">Procedencia: {{alquiler.procedencia}}</span>
                    <span class="text-xl font-light">Número telefonico: {{alquiler.cliente.telefono}}</span>
                    <span class="text-xl font-light">Tarifa: {{alquiler.costoDolar}}</span>
                    <span class="text-xl font-light">Entrada: {{ getDateFromData((alquiler).fechaInicio) | date}} </span>
                    <span class="text-xl font-light">Salida: {{ getDateFromData((alquiler).fechaFin) | date}}</span>
                    <span class="col-span-2 text-center text-xl " *ngIf="alquiler.invitados && alquiler.invitados.length > 0">Datos de acomapañantes</span>
                </div>
                <app-table-crud 
                        *ngIf="alquiler.invitados && alquiler.invitados.length > 0"
                        [row]="row"
                        [labels]="labels"
                        [items]="alquiler.invitados"
                        [showDefaultOptions]="{
                            edit:false,
                            del:false
                        }"
                        >
                        <ng-template #labels>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>N° de Identidad</th>
                        </ng-template>
                        <ng-template #row let-invitado>          
                            <!-- TODO: INTERNACIONALIZACION -->
                            <td>{{invitado.nombre}}</td>
                            <td>{{invitado.apellido}}</td>
                            <td>{{invitado.cedula || 'N/A'}}</td>                            
                        </ng-template>                                              
                    </app-table-crud>
            </div>
        </ng-template>        
    </div>
</div>
