<app-center-box>
    <div
    class="h-fit space-y-3 grid grid-cols-1 items-center bg-slate-200 shadow-lg py-6 px-8 rounded-lg">
        <div class="flex flex-col items-center space-y-2">
            <div class="flex flex-col space-x-4 items-start">
                <label for="fecha" class="ml-6 font-light">Fecha del reporte</label>
                <input
                    type="date"
                    class="form-input p-1 rounded-md outline-none border border-gray-300 "
                    id="fecha"
                    [(ngModel)]="fecha"
                >
            </div>
            <div class="col-span-2 w-full flex flex-row justify-center">
                <button type="button" (click)="generate()" class="btn-action-primary mt-2">Descargar reporte</button>
            </div>    
        </div>
    </div>
</app-center-box>
