<nav class="w-full flex flex-row justify-between items-center px-4 py-2 bg-gray-800 shadow-md rounded-br-md rounded-bl-md z-10 select-none">
    <div class="flex flex-row space-x-4 items-center">
        <img src="assets/img/logo.jpg" alt="logo" class="w-10 h-10 mr-5 rounded-full">

        <div>
            <app-navbar-item icon="hotel" label="Habitaciones"></app-navbar-item>
            <app-navbar-subitem forLabel="Habitaciones" [options]="navbarData.habitacionesOptions"></app-navbar-subitem>
        </div>

        <div *ngIf="navbarData.isAdmin">
            <app-navbar-item icon="inventory" label="Inventario"></app-navbar-item>
            <app-navbar-subitem forLabel="Inventario" [options]="navbarData.inventarioOptions"></app-navbar-subitem>
        </div>

        <div *ngIf="navbarData.isAdmin">
            <app-navbar-item icon="person" label="Proveedores"></app-navbar-item>
            <app-navbar-subitem forLabel="Proveedores" [options]="navbarData.proveedoresOptions"></app-navbar-subitem>
        </div>

        <div *ngIf="navbarData.isAdmin">
            <app-navbar-item icon="admin_panel_settings" label="Administración"></app-navbar-item>
            <app-navbar-subitem forLabel="Administración" [options]="navbarData.adminOptions"></app-navbar-subitem>
        </div>
    </div>
    <div>
        <span 
            (click)="navbarData.logout()"
            class="transition-all flex flex-row items-center space-x-1 text-gray-300 cursor-pointer rounded-lg "
            >
            <span class=" material-icons-outlined !text-lg">logout</span>
            <span>Cerrar sesión</span>
        </span>
    </div>
</nav>
