<div class="flex flex-row mx-4 my-4 justify-center">
    <div class="flex flex-col items-center space-y-4">
        <div>
            <button routerLink="registrar" class="btn-action-primary">Añadir habitacion</button>
        </div>
        <div>
            <div class="flex flex-col items-center space-y-4">
                <div class="flex flex-col items-center">
                    <h1 class="text-3xl font-light">Habitaciones del hotel</h1>
                </div>                              
                
                <div class="rounded-lg" [Block]="isFetching.habitaciones">
                    <app-table-crud 
                        (onDeleteClick)="eliminarHabitacion($event)"
                        [updateRouterLink]="['actualizar']"
                        [row]="row"
                        [labels]="labels"
                        [items]="habitaciones"
                        >
                        <ng-template #labels>
                            <th>N° Habitación</th>
                            <th>Piso de la habitación</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Caracteristicas</th>
                        </ng-template>
                        <ng-template #row let-habitacion>                            
                            <td class="text-3xl cursor-pointer" [routerLink]="[habitacion.id]"> 
                                <span class="border-b w-full border-black">
                                    {{th(habitacion).numero}} 
                                </span>
                            </td>
                            <td class="text-3xl"> {{th(habitacion).piso}} </td>
                            <td> {{th(habitacion).tipo}} </td>
                            <td> <span class="rounded-lg bg-opacity-30 p-2" estadoHabitacion [estado]="th(habitacion).estado!"></span> </td>
                            <td>
                                <ul class="ml-4 list-disc">
                                    <li *ngFor="let caracteristica of th(habitacion).caracteristicas">{{caracteristica}}</li>
                                </ul>
                            </td>
                        </ng-template>                                              
                    </app-table-crud>
                </div>                
                <div class="w-full">
                    <app-pagination-bar
                        [pagina]="pagina"
                        [paginas]="paginas"
                        [paginationRange]="paginationRange"
                        (onPaginate)="paginate($event)"
                    ></app-pagination-bar>
                </div>
                <div class="w-full">
                    <app-pagination-info
                        message="habitaciones"
                        [limit]="limit"
                        [pagina]="pagina"
                        [items]="total"
                        (onLimitChange)="onLimitChange($event)"
                    ></app-pagination-info>                    
                </div>
            </div>
        </div>
    </div>
</div>