<table class="rounded-b-lg border-collapse overflow-hidden text-center" [class]="roundedTop ? 'rounded-t-lg' : ''">
    <thead class="bg-gray-800 text-white">
        <ng-container *ngTemplateOutlet="labels">
        </ng-container>
        <th *ngIf="shouldRenderOptions">Opciones</th>
    </thead>
    <tbody>
        <tr class="even:bg-white odd:bg-[#d5d5d5] border-t-2 border-gray-700" *ngFor="let item of items">
            <ng-container
                *ngTemplateOutlet="row;context:{$implicit: item}"
            ></ng-container>
            
            <td *ngIf="shouldRenderOptions">
                <ng-container
                    *ngTemplateOutlet="extraOptions;context:{$implicit: item}"
                ></ng-container>
                <span
                    [routerLink]="getRouterLink(item.id)"
                    (click)="onUpdateButton(item)"
                    class="material-icons text-gray-500 cursor-pointer"
                    *ngIf="showDefaultOptions.edit"
                    >edit</span>
                <span
                    (click)="onDeleteButton(item)"
                    class="material-icons text-gray-500 cursor-pointer"
                    *ngIf="showDefaultOptions.del"
                    >delete</span>
            </td>
        </tr>
    </tbody>
</table>